<h2><%= l(:label_edit) %></h2>

<% labelled_tabular_form_for :asset_platform, @asset_platform, :url => {:action => 'edit', :id => @asset_platform} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_update) %>
<% end %>
