<h2><%= l(:label_new) %></h2>

<% labelled_tabular_form_for :asset_platform, @asset_platform, :url => {:action => 'new'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_commit) %>
<% end %>
