<%= error_messages_for 'asset_category' %>

<!--[form:board]-->
<div class="box">
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.text_field :position %></p>
</div>
<!--[eoform:board]-->
